body{
	text-align:center;
	margin:0;
	padding:0;
}
#upgrade{
	height:270px;
	width:290px;
	background-color:grey;
	float:right;
}

#clicker{
	height:270px;
	width:290px;
	background-color:grey;
	float:left;
}
#game{
	width:600px;
	height:200px;
	margin:0 auto;
}
.qwe {
	color: white;
	background-color: blue;
	width: 200px;
	height:100px;
	border: 3px solid;
	border-radius: 15px;

}
.lol{
	background: url(https://avatars.mds.yandex.net/i?id=5e97988061ebc17eff5077ce4c16ae27_l-10303576-images-thumbs&n=13);
}
